.heading {
  text-align: center;
}

.card {
  max-height: 500px;
  min-height: 500px;
  max-width: 500px;
  overflow: hidden;
  display: block;
  margin: 0 auto;
  background-color: darkgray;
  padding: 6%;
}

.questions {

  background-color: black;
  text-align: center;

}

/* .carousel-item {

} */

/* .carousel-inner{
  margin: 0 auto;
} */

.input-div {
  width: 100%;
  background-color: black;
}

.second img {
  opacity: 0.5;
}
button#yes {
  float: left;
}

button#no {
  float: right;
}

.btn p {
  margin-top: 3px;
  margin-bottom: 0;
}
