.wrap {
  background-color: #6dbbe8;
  border-radius: 10px;
  padding: 20px;
}

.heading {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 50px;
  max-width: 500px;
}

.card {
  min-height: 300px;
  max-width: 500px;
  overflow: hidden;
  display: block;
  margin: 0 auto;
  background-color: darkgray;
  padding: 6%;
}

.input-div {
  width: 100%;
}

.second img {
  opacity: 0.5;
}
button#yes {
  float: left;
}

button#no {
  float: right;
}

.btn p {
  margin-top: 3px;
  margin-bottom: 0;
}

.start, .begin, .fork{
  width: 100%;
}

.start {
  margin-bottom: 10px;
}

#name {
  margin-bottom: 100px;
}

body {
  background-color: #6dbbe8;
  background-repeat: no-repeat;
  background-image: url('../img/blur-code.jpg');
  background-size: 100% auto;
}

.logo {
  margin: 0 auto;
  max-height: 150px;
  display: none;
}

.logo-wrap {
  text-align: center;
  width: 100%;
  height: 100%;
}
