.heading {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.card {
  max-height: 500px;
  min-height: 500px;
  max-width: 500px;
  overflow: hidden;
  display: block;
  margin: 0 auto;
  background-color: darkgray;
  padding: 6%;
}

.input-div {
  width: 100%;
}

.second img {
  opacity: 0.5;
}
button#yes {
  float: left;
}

button#no {
  float: right;
}

.btn p {
  margin-top: 3px;
  margin-bottom: 0;
}

.start, .begin, .fork{
  width: 100%;
}

.start {
  margin-bottom: 10px;
}

#name {
  margin-bottom: 100px;
}

body {
  background-color: #6dbbe8;
}

.logo {
  max-width: 100px;
  margin: 0 auto;
}
